/.vscode
/atmminiproject.exe
/build
/class.exe
/classobjects.cc
/classobjects.exe
/CMakeLists.txt
/ConsoleApplication1
/ConsoleApplication2
/constructor.cc
/constructor.exe
/constructorarguments.cc
/constructorarguments.exe
/copyconstructor.cc
/copyconstructor.exe
/destructor.cc
/destructor.exe
/DSA.cc
/dynamicinitialize.cc
/dynamicinitialize.exe
/fibonacci.cc
/fibonacci.exe
/Files.cc
/friendclass.cc
/friendfunction1.exe
/friendfunctions.cc
/friendfunctions.exe
/functionobjects.cc
/functionobjects.exe
/inheritance.cc
/list.cc
/list.exe
/map.cc
/map.exe
/memoryallocate.cc
/memoryallocate.exe
/new.cc
/new.exe
/new1.exe
/newconstructor.cc
/newconstructor.exe
/newfriendfunction.cc
/newfriendfunction.exe
/neww.cc
/neww.exe
/nw1.cc
/nw1.exe
/objectsarrays.cc
/objectsarrays.exe
/oko.exe
/pattern.cc
/pattern.exe
/pointer.cc
/pointertoderivedclass.cc
/pointertoderivedclass.exe
/recursion.cc
/recursion.exe
/structure.exe
/swap.cc
/swap.exe
/template.cc
/template.exe
/template2.cc
/template2.exe
/template3.cc
/template3.exe
/template4.cc
/template4.exe
/template5.cc
/template5.exe
/union.cc
/union.exe
/vector.exe
/vector1.cc
/virtualbase.cc
/virtualbase.exe
/virtualfunc.cc
/virtualfunc.exe
/VSproject